.addProduct {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  align-items: center;
  h2 {
    text-align: center;
    color: color(bleu);
    font-size: 3rem;
  }
  .goBack {
    color: color(bleu);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
  }
  form {
    border: 2px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 1rem;
    input {
      margin: 1rem;
      width: 45%;
    }
    label {
      text-align: end;
      width: 45%;
    }
    textarea {
      margin: 1rem;
      width: 45%;
      height: 200px;
    }
  }
  img {
    width: 50%;
    margin: 2rem;
  }
}
